.breadcum{
    background-color: rgb(206, 207, 195);
    display: flex;
    align-items: center;
    gap: 5px;
    color: #5e5e5e;
    font-weight: 600;
    margin: 2px 0px;
    padding: 0 0px;
    font-size: 16px;
    text-transform: capitalize;
}
@media(max-width:1280px){
    .breadcum{
        margin: 30px 50px;
    }
}
@media(max-width:1024px){
    .breadcum{
        margin: 30px 30px;
        font-size: 13px;
    }
}
@media(max-width:800px){
    .breadcum{
        margin: 30px 10px;
        font-size: 12px;
    }
}
@media(max-width:500px){
    .breadcum{
        font-size: 10px;
    }
}